@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --background: #ffffff;
  --foreground: #171717;
    --font-lato: 'Lato', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.offer-banner {
  font-weight: 600;
  font-size: 12px;
  padding: 5px;
  display: inline-block;
  clip-path: polygon(
    0% 10%, 10% 0%, 25% 5%, 40% 0%, 55% 7%, 70% 0%, 85% 5%, 100% 10%,
    100% 90%, 85% 100%, 70% 95%, 55% 100%, 40% 93%, 25% 100%, 10% 95%, 0% 90%
  );
}

/* Offer active with less than 24 hours - Yellow background */
.offer-banner.offerActive {
  background: linear-gradient(to right, #ff3b30, #ffdbdb);
}

/* Offer active with 24+ hours - Red background */
.offer-banner.offerExpiring {
  background: linear-gradient(to right,#FFA629, #FFE4BE  );
}